
#items {
  background-color: $google-gray;
  @include desktop__large {
    min-height: 820px; // does not go down to footer w/out
  }

  h1 {
    font-family: 'Lobster Two', cursive;
    margin-left: 5%;
    letter-spacing: 3.5px;
    font-size: $lg;
    color: $gray;
    padding: $med 0;

    @include tablet {
      font-size: $xl;
    }
  }
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    @include box-shadow;
    background-color: $white;
    min-height: 250px;
    width: 47.5%;
    margin-bottom: 5%;
    cursor: pointer;
    position: relative;

    &:hover {
      @include hover-shadow()
    }

    &:nth-of-type(2n + 1){
      margin-right: 5%;

      @include tablet__landscape {
        margin-right: 0;
      }

      @include desktop {
        margin-right: 0;
      }
    }

    @include tablet__landscape{
      width: 32%;
      margin-left: 2%;
      margin-bottom: 2%;

      &:nth-of-type(3n + 1){
        margin-left: 0;
      }
    }

      @include desktop{
        width: 32%;
        margin-left: 2%;
        margin-bottom: 2%;

        &:nth-of-type(3n + 1){
          margin-left: 0;
        }
      }

    @include desktop__large {
      width: 18.4%;
      margin-left: 2%;
      margin-bottom: 2%;

      &:nth-of-type(5n + 1){
        margin-left: 0;
      }

      &:nth-of-type(3n){
        margin-right: 2%;
      }
    }
  } // card end

  .image {
    width: 100%;
    background-color: $white;
    height: 200px;

    // background-image
    background-size: cover;
    background-position: 50% 50%;

    @include tablet {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .content {
    @include flex-center;
    min-height: 70px;

    h3 {
      line-height: 1;
      color: $gray;
      font-size: $med;

      @include tablet__landscape{
        font-size: $mlg;
      }
      @include desktop{
        padding: $sm;
        font-size: $mlg;
      }
    }


  }

// STAGGER ANIMATION =================
     .card.ng-enter{
      transition: 0.5s linear transform, 0.3s linear opacity;
      transform: translateY(100%);
      opacity: 0;
    }

    .card.ng-enter-stagger {
      transition-delay: 0.1s;
      transition-duration: 0s;
    }

    .card.ng-enter.ng-enter-active{
      transform: translateY(0%);
      opacity: 1;
    }
//====================================

} // #items


// NEW ITEM BANNER ======================

#newItem {
  background-color: $prim-color;
  color: $white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: $xs;
}

// ======================================