#directions {
  margin-top: 65px;

  h1 {
    margin-left: 5%;
    font-size: $lg;
    font-family: 'Lobster Two', cursive;
    letter-spacing: 3.5px;
    color: $prim-color__light;
    text-align: left;
    padding: $med 0 ;

    @include tablet {
      font-size: $xl;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    @include tablet {
      flex-direction: row;
      align-items: flex-start;
      min-height: 430px;
    }
  }

//  Cards ==================

  .information {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet {
      min-height: 320px;
      justify-content: flex-start;
      margin: 0;
      flex: 1;
    }
  }

  .col {
    background-color: $prim-color__light;
    padding: $med;
    @include box-shadow;
    color: $gray;

    & + .col{
      margin-top: $med ;
    }
  }


  .col.col3 {
    padding: $med;
    margin: $med 0;
    // margin-bottom: $med;
    width: 100%;

    @include tablet {
      flex: 2;
      margin-left: $lg;
    }

    h3 {
      margin-bottom: $med;
    }

  }

// google maps ================
  .google-maps {
    position: relative;
    // padding-bottom: 75%; // This is the aspect ratio
    min-height: 300px;
    overflow: hidden;
    width: 100%;

  }

  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
// ================================


} // end of directions

