
#directions {

  h1 {
    margin-top: $med;
    width: 95%;
    font-size: $lg;
    font-family: 'Lobster Two', cursive;
    letter-spacing: 3.5px;
    color: $prim-color__light;
    text-align: left;

    @include tablet {
      font-size: $xl;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 65px;

  @include tablet {
    flex-direction: row;
    align-items: center;
    min-height: 430px;
    padding: $mlg;
  }

  section {
    width: 95%;
    margin: $med 0;

    @include tablet {
      margin-top: $med;
      flex: 1;
    }
  }

  .information {
    display: flex;
    flex-direction: column;

    @include tablet {
      min-height: 320px;
      margin-top: -10px; // account for weird spacing;
      justify-content: center;
    }
  }

  .col {
    background-color: $google-gray;
    padding: $med;
    @include box-shadow;

    & + .col{
      margin-top: $med ;
    }
  }


  .col.col3 {
    padding: $med;
    margin: 0px;
    margin-bottom: $med;

    @include tablet {
      flex: 2;
      margin-left: $lg;
    }

  }

// google maps ================
  .google-maps {
    position: relative;
    // padding-bottom: 75%; // This is the aspect ratio
    min-height: 300px;
    overflow: hidden;
    width: 100%;

  }

  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
// ================================


} // end of directions

