
#mainNav {
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  .dNav {
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.4);
    position: relative; // needed for z-index
    height: 100%;
  }

  .home {
    display: inline-block;

    li {
      font-size: $mlg;
      padding: 0;
      padding-left: $mlg / 2;
    }
  }

  // contains all links inlucding hamburger
  .nav-container {
    display: flex;
    align-items: center;
  } // end of nav-container

  li {
    color: white;
    padding: $med $mlg / 2;
    font-size: 1.3rem;
    cursor: pointer;
    transition: color 0.8s ease;
  }
  // Just the desktop nav
  .desktop-nav {
    // hide in mobile view
    display: none;
    @include tablet {
      display: flex;
      position: relative;
      padding-right: $sm;
    }
  }
  // hover bar ================================

  .bar {
    background: $white;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    bottom: $xs;
    right: 0;

    transition: all 0.5s ease;
  }

  li:nth-child(1){
    &:hover {
      & ~ span {
        display: block;
        margin-right: 16.8rem !important;
        width: 84.625px !important;
      }
    }
  }
   li:nth-child(2){
    &:hover {
      & ~ span {
        display: block;
        margin-right: 7.3rem !important;
        width: 151px !important;
      }
    }
  }
   li:nth-child(3){
    &:hover {
      & ~ span {
        display: block;
        margin-right: 0 !important;
        width: 122.54px !important;
      }
    }
  }

  // ================================
} // end of desktop nav



// TabIndex ========================
#tabIndex.tab0 {
  display: none;
}
#tabIndex.tab1 {
  display: block;
  margin-right: 16.8rem;
  width: 84.625px ;
}

#tabIndex.tab2 {
  display: block;
  margin-right: 7.3rem ;
  width: 151px ;
}

#tabIndex.tab3 {
  display: block;
  margin-right: 0 ;
  width: 122.54px ;
}


