.baseModal {
	// mask overlay
	position: fixed;
	cursor: pointer;
	z-index: 250; // side nav @ 300
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);

	// animation
	transition: all 0.35s ease;
	transform: scale(0.2);
	top: 50%;
	display: none;

	&.show {
		display: block;
		top: 0;
		transform: scale(1);
	}
}

// modal
.baseModal .modal-main {
	@include center-h;
	background-color: $white;
	top: 0;
	width: 100%;
	height: 100%;

	@include tablet {
		top: 20%;
		width: 70%;
		height: auto;
	}
}
// close header
.baseModal .modalClose {
	background-color: $primary-color-dark;
	height: $xl; 
	text-align: right;
	padding: $sm;
	.close {
		@include center-v;
		font-size: 2.3rem;
		color: $white;

		@include desktop {
			&:hover {
				background-color: $black;
			}
		}
	}
}
// content wrapper
.baseModal .main-content {
}