.baseModal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	height: 100%;

	// animation
	transition: all 0.35s ease;
	display: none;
	transform: scale(0.5);

	&.show {
		display: block;
		transform: scale(1);
	}
	&.show-add {
		display: block;
		opacity: 0.2;
	}
	&.show-add-active {
		opacity: 1;
	}
	&.show-remove {
		display: block;
		transform: scale(1);
		opacity: 1;
	}
	&.show-remove-active {
		transform: scale(0.5);
		opacity: 0;
	}
}
// mask overlay
.baseModal .modalMask {
	position: absolute;
	cursor: pointer;
	// z-index: 250; // side nav @ 300
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.25s all ease;
	background-color: rgba(0,0,0,0.5);
}

.baseModal.show-add .modalMask {
	opacity: 0;
}

// modal
.baseModal .modal-main {
	@include center-h;
	background-color: $white;
	top: 0;
	width: 100%;
	height: 100%;

	@include tablet {
		top: 10%;
		width: 55%;
		height: auto;
	}
}
// close header
.baseModal .modalClose {
	position: relative;
	background-color: $primary-color-dark;
	height: $xl; 
	text-align: right;
	padding: $sm;
	z-index: 5;
	.close {
		@include center-v;
		font-size: 2.3rem;
		color: $white;
		cursor: pointer;

		@include desktop {
			&:hover {
				color: $black;
			}
		}
	}
}
// content wrapper
.baseModal .main-content {
}