<div class="card-center">
	<section class="home-container">

		<!-- picture -->
		<div class="picture-wrap home-item">
			<div ng-style="{'background-image':'url({{image}})'}" class="picture "></div>
		</div>
		
		<!-- content -->
		<div class="content-wrapper home-item"
			ng-style="{'background-color': color}">
			<div class="content" ng-style="{'color': textColor}">
				<h3>{{title}}</h3>
				<p>{{content}}</p>
				<a ng-show="button" href="#">{{button}} &rarr;</a>
			</div>
		</div>
	</section>
</div>