<div id="home">

	<section video-hero></section>

	<div class="card-container">
		<section home-card
			title="drew"
			color="#4CAF50"
			content="this is content"
			image="http://img05.deviantart.net/52cc/i/2010/004/e/2/bittern_by_somasemaj.jpg"
		></section>

		<section home-card
			title="Fossil Q Founder"
			color="#009688"
			text-color= 'white'
			content="A Stylish smartwatch designed by the premiere timepiece experts at fossil"
			image="https://cdn.shopify.com/s/files/1/0215/8796/products/darksumat_bag_1024x1024.png?v=1378834644"
			button="show now"
		></section>		
	</div>
	
</div>




