<div class="card-center">
	<section class="home-container">

		<!-- picture -->
		<div class="picture-wrap home-item">
			<div lazy-load ng-style="{'background-image':'url({{image}})'}" class="picture "></div>
		</div>
		
		<!-- content -->
		<div class="content-wrapper home-item"
			ng-style="{'background-color': color}">
			<div class="content" ng-style="{'color': textColor}">
				<h3>{{title}}</h3>
				<p>{{content}}</p>
				<a href="/{{url}}"
				class="home-content__btn" 
				ng-show="button"> {{button}}</a>
			</div> 
		</div>
	</section>
</div>
