<section class="youtube-wrap">

	<video preload id="bgvid" poster="../../img/videoBG.jpeg">
		<source src="../../img/coffeeVid.mp4" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2">
		<source src="./../img/coffeeVid.webmhd.webm" type="video/webm; codecs=vp8,vorbis">
		<source src="./../img/coffeeVid.oggtheora.ogv"  type="video/ogg; codecs=theora,vorbis">
		Video Not Supported
	</video> 
 
	<!-- background -->
	<div class="home-bg"></div>
	
	<!-- title -->
	<div class="home-title">
		<h1>100% <br><span>Organic</span></h1>
		<h2>Treat Your Customers to Something Special</h2>
		<a alt="coffe" ui-sref="coffee"> Order Wholesale Today </a>
	</div>
	
</section>
