
<div class="bagItem"> 
<!-- This is being repeated... -->

	<div class="image" 
		ng-style="{'background-image': 'url({{item.image}})'}">

		<span class="price">{{item.price | currency}} /lb</span>
	</div>
		
	<div class="content"> 
		<div class="name">{{item.name}}</div>

		<div class="update">
			<span class="qty">Qty:</span>
			<select ng-model="item.qty" 
				ng-change="ctrl.update(item)"
				ng-options="option.value as option.name for option in ctrl.options">
			</select>
		</div>
		<button ng-click='ctrl.remove(item)'>remove</button>
	</div>
	
</div>


