<section id="coffee">
	<h1> Hello from coffee </h1>
	
	<!-- Coffee BAG -fixed -->
	<div id="coffeeBag" ng-if="CC.bag.length > 0">
		<!-- controller the margin percentages. -->
		<span scroll-item class="spacer left">L</span>

		<div class="bagItems">
			
			<coffee-bag
				ng-repeat="item in CC.bag"
				ng-init="item.qty='1'" 
				item="item"
				remove-from-bag="CC.removeFrombag(item)"
			></coffee-bag>  

		</div>

		<span scroll-item class="spacer right">R</span>
	</div>
	
	<!-- coffee Cards -->
	<div class="card-wrapper">

		<coffee-card
			ng-repeat="item in CC.items" 
			item="item"
			add-to-bag = "CC.addTobag(item)"
		></coffee-card> 
		
	</div>

	
	
</section>
