<section id="coffee">
	
	<!-- coffee Cards -->
	<div class="card-wrapper">

		<coffee-card
			ng-repeat="item in CC.items" 
			add-to-bag = "CC.addTobag(coffee)"
			ng-init="item.qty=1"
		></coffee-card>  
		
	</div>

	<!-- bag -->
	<!-- 1. Coffee Bag total -->
	<!-- 2. Coffe Bag item -->
	<coffee-bag></coffee-bag>

	<!--Notification bar  -->
	<div class="coffee-details">
		<span class="qty">toggle:{{toggleBag}}</span>
		<span class="total">$600.00</span>
		<span class="viewBag" 
			ng-click="toggleBag= !toggleBag;" 
		>View Bag</span>
	</div>

	<!-- mask overlay -->
	<div class="mask coffeeMask"></div> 


	
	
</section>
