	<div id="coffeeBag" ng-if="CC.bag.length > 0" ng-class="{toggle: active}">
		<!-- draggable menu... -->
		<span class="bagDrag" 
			ng-click="active= !active"
		>&#xE25D;</span>

		<!-- controller the margin percentages. -->
		<!-- <span scroll-item class="arrow left">L</span> -->
		<span scroll-item class=" arrow left">
			<i class="material-icons">keyboard_arrow_left</i>
		</span>

		<div class="bagItems">
			
			<coffee-bag-item
				ng-repeat="item in CC.bag | reverse" 
				remove-from-bag="CC.removeFromBag(coffee)"
				update-bag="CC.updateBag(coffee)"
			></coffee-bag-item>  

		</div>

		<span scroll-item class="arrow right">
			<i class="material-icons">keyboard_arrow_right</i>
		</span>
	</div>