	<div id="coffeeBag">

		<div class="bag-close-wrap">
			<i class="material-icons">close</i>
		</div>

		<!-- BAG CONTAINER -->
		<div class="bagItems">

			<h3 ng-if="CC.bag.length == 0">Your Bag Is Empty</h3>

			<!-- Bag Details -->
			<div class="bag-details" ng-if="CC.bag.length > 0">
				<div class="details">
					<span class="amount" animate-on-change="CC.total.amount">{{CC.total.amount}}</span>
					<span class="total">{{CC.total.total | currency}}</span>
				</div>
				<div class="call-me">
					<span>Place order</span><br>
					<span>425-765-1111</span>
				</div>
				<p class="est">estimate only</p>
			</div>
		
			<!-- individual item -->		
			<div class="bag-item-wrap">
				<coffee-bag-item
					ng-repeat="item in CC.bag | reverse" 
					remove-from-bag="CC.removeFromBag(coffee)"
					update-bag="CC.updateBag(coffee)"
				></coffee-bag-item>  
			</div>
		

		</div>
	</div>