<section id="coffee">

	<div show-filter class="filterSelector">
		Filter: 
		<span class="filterBtn region active">region</span>
		<span class="filterBtn roast">roast</span>
	</div>

	<!-- coffee Cards -->
	<!-- Region -->
	<div class="card-wrapper regionCards" 
		ng-repeat="region in CC.filterBy.regions">
		<h3 class="filterTitle" ng-click="filterActive = !filterActive">{{region.name}}</h3>

		<!-- dropdown icon -->
		<i class="material-icons downArrow">&#xE5C5;</i>
		
		<!-- add ng-hide to class to avoid flicker -->

		<div class="coffee-card-wrap">

					<!-- learn more modal -->
			<learn-more
				ng-hide="!filterActive"
				region="region.name"
			></learn-more>

			<coffee-card
				ng-hide="!filterActive"
				ng-repeat="item in region.region" 
				add-to-bag = "CC.addTobag(coffee)"
				ng-init="item.qty=1"
			></coffee-card>  
		</div>
	</div>

	<!-- Roast -->
	<div class="card-wrapper roastCards"
		ng-repeat="roast in CC.filterBy.roasts">

		<h3 class="filterTitle" ng-click="filterActive = !filterActive">{{roast.name}}</h3>

		<!-- dropdown icon --> 
		<i class="material-icons downArrow">&#xE5C5;</i>

		<div class="coffee-card-wrap">

			<!-- learn more modal -->
			<learn-more
				ng-hide="!filterActive"
				roast="roast.name"
			></learn-more>

			<!-- add ng-hide to class to avoid flicker -->
			<coffee-card
				ng-hide="!filterActive"
				ng-repeat="item in roast.roast" 
				add-to-bag = "CC.addTobag(coffee)"
				ng-init="item.qty=1"
			></coffee-card>
		</div> 



	
	</div>

	<!-- bag -->
	<!-- 1. Coffee Bag total -->
	<!-- 2. Coffe Bag item -->
	<coffee-bag></coffee-bag>

	<!--details bar  -->
	<div class="coffee-details">
		<span ng-if="CC.total.amount" class="qty">{{CC.total.amount}}</span>
		<span ng-if="CC.total.total" class="total">{{CC.total.total | currency}}</span>

		<!-- placeholders when empty...-->
		<span ng-if="!CC.total.amount" class="qty">0</span>
		<span ng-if="!CC.total.total" class="total">$0.00</span>

		<!-- open bag btn... -->
		<span class="viewBag">OPEN BAG</span>
	</div>

	
	<!-- notification bar -->
	<notification-bar></notification-bar>


	<!-- mask overlay -->
	<div class="mask coffeeMask"></div> 


	
	
</section>
