<section class="coffee-card">
	
	<div class="details top">
		<span class="roast">{{item.roast}}</span>
		<span class="region">{{item.region}}</span>
	</div>

	<!-- IMAGE -->
	<div class="item-image" 
		ng-style="{'background-image': 'url({{item.image}})'}">
	</div>

	<div class="details bottom">
		<span class="price">{{item.price | currency}}</span>
	</div>

	<!-- HOVER CONTENT -->
	<div class="hover-content">

		<!-- button and selection -->
		<div class="add-wrap">
			<button
				ng-disabled="!selectedValue" 
				ng-click="ctrl.add(item);  
				select = true; 
				maskActive=true;" 
			>add</button>
			<select ng-model="item.qty" 
				ng-change="selectedValue=true">
				<option value="1" >1</option> 
				<option value="2" >2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
			</select>
		</div>
	</div>

	<!-- MASK -->
	<div class="mask" ng-if="maskActive"><span>{{item.name}}<br>Added To Bag</span></div>
</section>  