<div class="learnMore">

	<!-- MOBILE BUTTON -->
	<div class="lmBtn">
		<h4>Learn More</h4>
	</div>

	<!-- modal -->
	<section class="learnMoreModalWrap">

		<!-- ============ ROAST ================  -->
		<!-- FCR -->
		<learn-more-f-c-r
			data-name="Full City Roast"
			ng-if="roast.name === 'Full City Roast'"
		></learn-more-f-c-r>

		<!-- CR -->
		<learn-more-c-r
			data-name="City Roast"
			ng-if="roast.name === 'City Roast'"
		></learn-more-c-r>

		<!-- FR -->
		<learn-more-f-r
			data-name="French Roast"
			ng-if="roast.name === 'French Roast'" 
		></learn-more-f-r>

	<!-- ============ REGION ================  -->
	<!-- Blends -->
	<learn-more-blends
		data-name="Blends"
		ng-if="region.name === 'Blends'"
	></learn-more-blends>

	<!-- Indonesia -->
	<learn-more-indonesia
		data-name="Indonesia"
		ng-if="region.name === 'Indonesia'"
	></learn-more-indonesia>

	<!-- Centeral/South America -->
	<learn-more-c-s-a 
		data-name="Central/South America"
		ng-if="region.name === 'Central/South America'"
	></learn-more-c-s-a>

	<!-- Africa -->
	<learn-more-africa
		data-name="Africa"
		ng-if="region.name === 'Africa'"
	></learn-more-africa>    

		
	</section>

</div>  