#consignment {
  @include flex-center;
  margin-top: 10vh;
  text-align: left;

  h1 {
    font-size: $lg;
    margin-top: $med;
    display: block;
    text-align: left;
    width: 90%;
    font-family: 'Lobster Two', cursive;
    letter-spacing: 3.5px;
    color: $green;
  }

  h3 {
    width: 90%;
    text-align: center;
    line-height: 1.2;
    font-style: italic;
    color: $gray;
    padding: $med 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 1.2rem;
  }

  .col {
    background-color: $green;
    @include box-shadow;
    padding: $med;
    width: 90%;
    margin: $med 0;
    color: $white;
  }

  // consignment agreement download
  a {
    @include main-btn(black);
    margin: $med 0;
    padding: $msm;
  }

} // end of consignment