.admin-side-menu {
	padding: 5%;
	width: 100%;
	height: 100%;
}

// Close Menu =========================
.admin-side-menu .close {
	float: right;
	height: 45px;
	display: flex;
	align-items: center;
	cursor: pointer;

	// icon
	.material-icons {
		font-size: 45px;

		&:hover {
			color: $primary-color;
		}
	}
}
// ====================================

// product image ======================
.admin-side-menu .background {
	width: 100%;
	height: 200px;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat; 
	margin: $med 0; 
}


// Admin UPLOAD PHOTO =====================
.admin-side-menu .upload-photo {
	perspective: 800px;
	position: relative;
	height: 200px;
	width: 100%;

	.upload-card {
		width: 100%;
		height: 100%;
		position: absolute;
		transform-style: preserve-3d;
		transition: transform 1s;

		&.flipped {
			transform: rotateY( 180deg );
		}
	}

	.card {
		margin: 0;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;

		&.back{
			transform: rotateY(180deg);
			@include debug;
		}
	}
}

.admin-side-menu .upload-photo .background {
	background-color: $light-gray; 
	span {
		display: inline-block;
		width: 100%;
		color: $white; 
		text-align: center;
		line-height: 200px; 
		font-size: 2rem;
	}
}
// ====================================

// inputs =============================

.admin-side-menu .admin-push-content {
	height: 40px;
	margin-bottom: $med;

	input {
		border: none;
		height: 100%;
		width: 100%;
		font-size: $med;
		font-size: $gray;
		border: 2px solid $google-gray;
		transition: 0.35s all ease;
		padding-left: $med;
		color: $light-gray;
	
		&:focus {
			border: 2px solid $light-gray; 
			color: $black;
		}
	}
}

// ====================================

.admin-push-content a {
	display: block;
	text-align: center;
	padding: 10px 15px;
	width: 100%;
	background-color: lighten($accent-color, 5%);
	color: $white;

	&:hover {
		background-color: $accent-color;
	}

	&.delete {
		background-color: lighten(red, 20%);
		cursor: pointer;

		&:hover {
			background-color: red;
		}
	}
}















