 
// Side Menu =====================================

 .admin-push-menu, 
 .addItem {
 	z-index: 300; 
	position: fixed; 
	background-color: $google-gray;
	height: 100%;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

	// position off screen;
	transition: 0.35s all ease; 
	display: none;
	right: -$slider-width;
	top: 0; 
	width: $slider-width; 
	overflow-y: auto;
}

// Admin Card Inner ===================================

#admin-card .admin-item-wrap { 
	height: 60px;
	padding: 0 5%;
	width: 90%;
	margin: 0 auto;
	margin-bottom: $med;
	background-color: $google-gray;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: 0.5s all ease;

	@include tablet {
		width: 100%;
	}

	// data wrapper
	.content {
		display: flex;
		justify-content: space-between;
		width: 60%;
		@include tablet {
			width: 85%;
		}
	}

	// data
	span {
		line-height: 60px;
		font-size: $med;
		max-height: 60px;
		@include tablet {
			font-size: 1.3rem;
		}
	}
	span.name {
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.material-icons {
		font-size: $lg;
		cursor: pointer; 
		color: gray;
		transition: 0.5s all ease;

		&:hover {
			color: $black;
			transform: rotate(180deg);
		}
	}
}
// ===================================================
// ADD and REMOVE TRANSITION;
#admin .admin-card-wrapper {
	transition: 2s all ease;
}
// enter
#admin-card.ng-enter {
	transform: translateX(-100%);
	transition: 1s all ease;
	@include tablet {
		transform: translateX(0);
		opacity: 0;
	}
}
#admin-card.ng-enter-active {
	transform: translateX(0);
	@include tablet {
		opacity: 1;
	}
}
// leave
#admin-card.ng-leave {
	transform: translateX(0);
	transition: 1s all ease;
	@include tablet {
		opacity: 1;
	}
}
#admin-card.ng-leave-active {
	transform: translateX(100%);
	@include tablet {
		transform: translateX(0);
		opacity: 0;
	}
}




// ===================================================






