
$slider-width: 320px;

// Animations for hiding and show menu
#admin {
	// show the side menu
	.showMenu-add {
		display: block;
	}
	.showMenu-add-active {
		right: 0;
	}
	
	// remove class
	.showMenu-remove-active {
		display: block;
		right: -$slider-width;
	}

	// resting state
	.showMenu {
		display: block;
		right: 0;
	}
}




