
$slider-width: 400px;

#admin {
	.showMenu {
		// right: -$slider-width;
		// transform: translateX(0);
		display: block;
		background-color: red;
	}

	.showMenuActive { 
		// left: -$slider-width;
		background-color: blue;
		transform: translateX(-$slider-width);
	}
}

.admin-card-wrapper {
	width: 100%;
	transition: 0.5s all linear;
} 

.admin-push-menu { 
	position: fixed; 
	display: none;
	z-index: 200;
	min-height: 600px;
	width: $slider-width; 
	background-color: yellow;
	right: 0;
	// right: -$slider-width; // hide off screen
	transform: translateX($slider-width);
	top: 0; 
	transition: 0.5s all linear;
}

