
$slider-width: 320px;

// Add Item Button ==================================

#admin .newItemBtn {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 90%;
	margin: 0 auto;
	padding: $med 0;

	div {
		display: flex;
		align-items: stretch;

		input {
			display: none;

			@include tablet {
				margin-right: $med;
				width: 200px;
				font-size: $med;
				padding-left: 10px;
				display: inline-block;
				color: $light-gray;
				border: none;
				border-bottom: 1px solid $light-gray;

				&:focus {
					color: $black;
					border-bottom: 1px solid $black;
				}
			}
		}
	}

	button {
		font-size: $med;
		background-color: $white;
		padding: 0 $mlg;
		cursor: pointer;
		border: 1px solid $light-gray;
		color: $light-gray;

		&:hover {
			border: 1px solid $black;
			color: $black;
		}
	}
}

// Layout ============================================
.admin-card-wrapper {
	@include tablet {
		display: flex;
		flex-wrap: wrap;
		width: 90%;
		margin: 0 auto;
	}

	#admin-card {
		@include tablet {
			width: 32%;
			
		&:nth-of-type(3n+2){
			margin: 0 2%;
		}
		}
	}
}








// Animations for hiding and show menu
#admin {
	// show the side menu
	.showMenu-add {
		display: block;
	}
	.showMenu-add-active {
		right: 0;
	}
	
	// remove class
	.showMenu-remove-active {
		display: block;
		right: -$slider-width;
	}

	// resting state
	.showMenu {
		display: block;
		right: 0;
	}
}




