 
// Side Menu =====================================

 .admin-push-menu,
 .addItem {
 	z-index: 300; 
	position: fixed; 
	background-color: $google-gray;
	height: 100%;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

	// position off screen;
	transition: 0.35s all ease;
	display: none;
	right: -$slider-width;
	top: 0; 
	width: $slider-width; 
}

// ===================================================



// Admin Card Inner ===================================

#admin-card .admin-item-wrap { 
	height: 60px;
	padding: 0 5%;
	width: 90%;
	margin: 0 auto;
	margin-bottom: $med;
	background-color: $google-gray;
	display: flex;
	align-items: center;
	justify-content: space-between;;

	// data wrapper
	.content {
		display: flex;
		justify-content: space-between;
		width: 70%;
	}

	// data
	span {
		line-height: 60px;
		font-size: $med;
		text-overflow: ellipsis;

		@include tablet {
			font-size: $mlg;
		}
		// height: 100%;
	}
	.material-icons {
		font-size: $lg;
		cursor: pointer; 
		color: gray;
		transition: 0.5s all ease;

		&:hover {
			color: $black;
			transform: rotate(180deg);
		}
	}
}

// ===================================================






