#login {
	height: 100vh;
	background-color: $primary-color;
}

#login h2 {
	font-size: 1.3rem;
	background-color: $primary-color-dark;
	color: $white;
	padding: $med 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#login .login-container {
	position: relative;
	top: 5%;
	margin: 0 auto;
	width: 90%;
	text-align: center;
	background-color: $white;
	padding-bottom: $med;
	border-radius: 5px;

	@include tablet {
		width: 60%;
	} 

	@include desktop__large {
		width: 40%;
	}
}

#login .admin-details {
	position: relative;
	margin-bottom: $mlg;
}

#login .admin-username  {
	margin: $lg 0;
}

#login .admin-details input[type="text"] {
	font-size: 1.3rem;
	padding: $msm 0;
	width: 85%;
	text-indent: 10px;

	border: none;
	border-bottom: 2px solid $gray;

	&:focus {
		border-bottom: 2px solid $google-gray;
	}
	&:focus ~ .loginLine {
		width: 85%;
	}
}

#login .loginLine {
	display: block;
	z-index: 10;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 2px;
	width: 0%;
	background-color: DodgerBlue;
	transition: 0.35s all ease;
}


// BTN and Notice

.btn-and-notice {
	position: relative;
	padding: $med 0 $xl 0;
}

.btn-and-notice .message {
	position: absolute;
	bottom: 0;
	left: 7.5%;
	padding: $sm 0;
	margin: 0;
	background-color: LightCoral;
	color: $white;
	width: 85%;
	
	transition: 3s width ease, 0.5s opacity ease;
	opacity: 0;

	&.activeMessage-add-active {
		opacity: 1;
	}
	// hide
	&.activeMessage-remove {
		transition: opacity 0.5s ease;
	}
	&.activeMessage-remove-active {
		opacity: 0;
	}
}

.admin-login-btn {
	display: block;
	width: 85%;
	margin: 0 auto;
	padding: $med 0;
	background-color: $gray;
	font-size: 1.3rem;
	color: white;
	cursor: pointer;

	@include tablet {
		transition: 0.35s background-color ease;
		&:hover {
			background-color: darken($gray, 10%);
		}
	}
}
