// Font ===========

* {
  box-sizing: border-box;
}

*:focus {
    outline: none;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a { text-decoration: none;}

// Font-sizes ======================================

h1 { font-size: 3rem;    }
h2 { font-size: 2rem;    font-weight: normal;  }
h3 { font-size: 1.5rem;  font-weight: normal; }
h4 { font-size: 1rem;    font-weight: normal;}
h5 { font-size: 0.83rem; font-weight: normal;}
h6 { font-size: 0.75rem; font-weight: normal;}

p  { line-height: 1.5;
    margin: 0 0 1rem;
  }

// ===============================================

// Mask Overlay ====================

.mask-overlay { 
  position: fixed;
  cursor: pointer;
  z-index: 250; // side nav @ 300
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

button {
  border: none;
}


