// Font ===========
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,500);

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}

ul, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a { text-decoration: none;}

// Font-sizes ======================================

h1 { font-size: 3rem;    }
h2 { font-size: 2rem; font-weight: normal;  }
h3 { font-size: 1.5rem; font-weight: normal; }
h4 { font-size: 1rem;    }
h5 { font-size: 0.83rem; }
h6 { font-size: 0.75rem; }

p  { line-height: 1.5;
    margin: 0 0 1rem;
  }

// ===============================================