

// Color ===============================================
$prim-color__dark: #C2185B;   // dark pink
$prim-color: #E91E63;         // pink
$prim-color__light: #F8BBD0;  // lightest pink -- background
$black: #212121;              // black -- text
$white: #FFFFFF;              // off white -- text
$gray: #727272;                // gray -- 2nd text
$light-gray: #B6B6B6;         // lighter gray -- divider
$green: #4CAF50;              // green

$google-gray: #F9F9F9;

$fade__dark: rgba(0,0,0,0.3);
//https://www.materialpalette.com/pink/green

// ======================================================

// Spacing / Text ===================================

$sp: 1rem;

$xs:  $sp / 4 ;
$sm:  $sp / 3 ;
$msm: $sp / 2;
$med: $sp ;
$mlg: $sp * 1.5;
$lg:  $sp * 2 ;
$xl:  $sp * 3 ;
$xxl: $sp * 4 ;

// ================================================

// drop shadow goes around object...
//filter: drop-shadow(<length>{2,3} <color>?)

// Transition =================
$transition: all 0.3 ease;
// =============================

// $box-shadow =================

  @mixin box-shadow(){
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
  }

    @mixin inner-shadow(){
    box-shadow: inset 0 10px 20px rgba(0,0,0,0.19), inset 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.2s ease-in-out;
  }

  @mixin hover-shadow(){
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

// ===================================

// DEBUG =============================

  @mixin debug($color: red){
    border: 1px solid $color;
  }
// ===================================


// Flex ==============================

@mixin flex-center(){
  display: flex;
  flex-direction: column;
  justify-content: center; // center vertically
  text-align: center;
  align-items: center;
}
// ===================================


// Full opacity container ============

@mixin full-opacity($opacity: 0.4){
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,$opacity);
    height: 100%;
    width: 100%;

    @content;
  }
}