

// Color ===============================================

$prim-color__dark: #C2185B;
$prim-color: #E91E63;
$prim-color__light: #F8BBD0;
$text: #212121;
$test__white: #FFFFFF;
$text__light: #727272;
$div-color: #B6B6B6;
$accent: #4CAF50;


// ======================================================

