<section id="learnMoreFR" class="learnMoreModal">

	<!-- close icon -->
	<div class="closeIcon">
		<i class="material-icons close">&#xE5CD;</i>
	</div>
	
	<!-- image + info -->
	<div class="imageInfoWrap">
		<!-- image -->
		<div class="image"></div>	
		<!-- info Blurb -->
		<div class="info">

			<h3>French Roast</h3>
			<p>Some information here about full city roast blah blah blah. some more ifnormatoin here about how good this coffee is and some other rubbish....</p>
		</div>
	</div>

	<!-- Bullet points -->
	<div class="bulletsWrap">
		<!-- bullet point notes -->
		<div class="bullets">
			<ul>
				<li>Nutty</li>
				<li>chocolatly</li>
				<li>medium</li>
				<li>good</li>
			</ul>
		</div>
	</div>

</section>