
#coffee {
	min-height: 100vh;
	background-color: $google-gray;
}

// Filter ===================

#coffee .filterSelector {
	padding: $msm 5%;
	width: 100%; 
	font-size: 1.3rem;
	border-bottom: 1px solid $black;

	span {
		font-size: $med;
		display: inline-block;
		padding: $xs;
		width: 80px;
		text-align: center;
		border: 2px solid $primary-color;
		color: $primary-color;
		margin-left: $msm;
		border-radius: 10px; 
		cursor: pointer;

		&:hover, &.active {
			background-color: $primary-color;
			color: $white;
		}
	}
}

// Card wrapper ==================

#coffee .card-wrapper {
	position: relative;
	background-color: $google-gray;
	width: 100%;
	height: 100%;
	padding: 0 5%;
	padding-top: $med; // mobile first item margin
	// @include debug;
}

#coffee .card-wrapper .filterTitle {
	border-bottom: 1px solid black;
	cursor: pointer;
	transition: 0.35s all ease;

	&:hover ~ .downArrow {
		color: $black;
		animation: arrowBounce 1s infinite;
	}
}

// animation for downarrow ==============
@keyframes arrowBounce {
	0%{bottom:0px;}
	25%{bottom: -2.5px;}
	50%{bottom:0px;}
	75%{bottom:2.5px;}
	100%{bottom:0px;}
}

// dropdown arrow	
#coffee .card-wrapper .downArrow {
	font-size: 2.3rem;
	position: absolute;
	right: 5%;
	bottom: 0;
	transition: 0.35s all ease;
	color: $gray;
}

// Roast hidden by default...
#coffee .roastCards {
	display: none;
}

// Bottom Details Bars ==================

#coffee .coffee-details {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $primary-color;
	z-index: 50;
	height: 50px;
	padding: 0 $med;

	span {
		display: inline-block;
		color: $white;
		height: 100%;
		line-height: 50px;
	}

	.qty {
		line-height: 35px;
		text-align: center;
		height: 35px;
		width: 35px;
		background-color: $primary-color-dark;
		border-radius: 50%;
	}

	.total {
		margin-left: $mlg;
	}

	.viewBag {
		float: right;
	}
}

// animations

#coffee .coffee-details.ng-enter {
	transform: translateY(100%);
	transition: 0.35s all ease; 
}
#coffee .coffee-details.ng-enter-active {
	transform: translateY(0);
}

// Hide show Filters =================

// normal ng-if doesnt not work if toggled... 
// place ng-hide in class and then toggle on ng-click

#coffee .coffee-card{
	transition: 0.4s all ease;
} 

// enter
#coffee .coffee-card.ng-hide-remove {
	opacity: 0;
	transform: translateY(100%);
}
#coffee .coffee-card.ng-hide-remove-stagger {
	transition-delay: 0.1s; 
	transition-duration: 0s;
}
#coffee .coffee-card.ng-hide-remove-active {
	opacity: 1;
	transform: translateY(0);
}
// leave
#coffee .coffee-card.ng-hide-add{
	opacity: 1;
}
#coffee .coffee-card.ng-hide-add-active{
	opacity: 0;
	transform: translateY(100%);

}











