
// Individual Item =====================================

#coffeeBag .bagItem { 
	@include box-shadow;
	display: flex; 
	width: 100%;
	background-color: $white;
	padding: $msm;
	text-align: center;
	margin-bottom: $msm; 
	height: 120px;
	min-height: 120px;

	@include tablet {
		width: 100%;
		margin-bottom: $msm;
		height: 170px;
	}

	@include desktop {
		height: 200px;
	}
}
// ===================================================

#coffeeBag .image {
	position: relative;
	width: 40%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 25% 20%;

	@include desktop {
		height: 80%;
	}

	.price { 
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		@include tablet {
			font-size: $mlg;
		}

		@include desktop {
			bottom: -40px;
		}
	}
}


#coffeeBag .bagItem {
	position: relative;
	.content {
		height: 100%;
		width: 60%;
		padding: $msm;
		padding-left: $mlg;

		.name {
			font-size: 1.3rem;
			text-align: left;
			white-space: nowrap;
			overflow-x: hidden;
			text-overflow: ellipsis;
		}

		.update {
			position: relative;
			text-align: left;
			height: 30px;
			margin-top: $sm;

			.qty {
				width: 20%;
			}

			input[type="text"] {
				width: 15%;
				height: 30px;
				display: inline-block;
				background: none;
				text-align: left;
				border: none;
				font-size: $med;
				color: $light-gray;
				padding-left: $sm;

				&:focus {
					color: $black;
				}

				&:focus ~ .line {
					width: 50%;
					opacity: 1;
					background-color: blue;
				}
			}
			.line {
				// opacity: 0;
				position: absolute;
				left: 20%;
				bottom: .5px;
				transition: 0.5s all ease;
				height: 1px;
				width: 20%;
				background-color: $light-gray;
			}
		}

		button {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 75%;
			height: 25px;
			cursor: pointer;
			font-size: 0.85rem;
			opacity: 0.3;
			transition: 0.3s opacity ease;
			background: none;

			@include desktop {
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}









