
#coffeeBag {
	z-index: 300; // clear details
	position: fixed;
	bottom: 0; // clear details bar
	left: 0;
	width: 100%;
	background-color: darken($google-gray, 5%);
	transform: translateY(100%); 
	transition: 0.35s all ease;
	overflow-y: scroll;

	// hide show when click on menu
	&.toggle {
		transform: translateY(0); 
	}
}

.bag-close-wrap {
	height: 2.5rem;
	text-align: right;
	background-color: $primary-color;
	margin-bottom: $msm;

	.material-icons {
		color: $white;
		font-size: 2.5rem;

		&:hover {
			color: $black;
		}
	}
}


//  BAG Content Container ================================

#coffeeBag .bagItems {
	display: flex;
	flex-direction: column; 
	position: relative;
	align-items: center;
	padding: 0 $msm;
	height: 55vh;

}

#coffeeBag .bagItems h3 {
	position: relative;
	top: 25%;
}





// Animations =========================================


// BAG Container ====
#coffeeBag.ng-enter{
	transition: 0.35s all ease;
	transform: translateY(100%);
}
#coffeeBag.ng-enter-active {
	transform: translateY(0);
}
#coffeeBag.ng-leave{
	transition: 0.35s all ease;
	transform: translateY(0);
}
#coffeeBag.ng-leave-active {
	transform: translateY(100%);
}

// Item ========
#coffeeBag .bagItem.ng-enter {
	transition: 0.35s all ease;
	opacity: 0; 
	transform: translateY(-100%);
}
#coffeeBag .bagItem.ng-enter-active {
	opacity: 1; 
	transform: translateY(0);
}
#coffeeBag .bagItem.ng-leave {
	transition: 0.35s all ease;
	transform: translateY(0);
	opacity: 1; 
}
#coffeeBag .bagItem.ng-leave-active {
	opacity: 0; 
	transform: translateY(100%);
}








