
// Individual Item =====================================

#coffeeBag .bagItem { 
	display: inline-block;
	background-color: darken($google-gray, 5%);
	margin-left: 10px;
	width: 120px;
	height: 100%;
	overflow: hidden;
	padding: $msm;
	text-align: center;

	@include tablet {
		width: 200px;
		margin-left: $med;
		padding: $med;
		
	}
}
// ===================================================

#coffeeBag .bagItem .content {
	display: flex; 
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	.name {
		text-overflow: ellipsis;
		@include tablet {
			white-space: normal;
		}
	}
	button {
		height: 25px;
		cursor: pointer;
		font-size: 0.85rem;
		opacity: 0.3;
		transition: 0.3s opacity ease;
		&:hover {
			opacity: 1;
		}
	}
}

.bagItem .update {
	position: relative;
	// change input
	input[type="text"] {
		width: 100%;
		background: none;
		text-align: center;
		border: none;
		font-size: $med;

		&:focus ~ span {
			width: 50%;
			opacity: 1;
		}
	}

	.line {
		opacity: 0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -5px;
		transition: 0.5s width ease;
		height: 2px;
		width: 10%;
		background-color: $accent-color;
	}
}


#coffeeBag .bagItem:nth-of-type(1) {
	margin-left: 0;
}







