
#coffeeBag {
	height: 75vh; 
	z-index: 300; // clear details
	position: fixed;
	bottom: 0; // clear details bar
	width: 100%;
	background-color: darken($google-gray, 5%);
	transform: translateY(100%); 
	transition: 0.35s all ease;
	max-width: 1680px;

	// hide show when click on menu
	&.toggle {
		transform: translateY(0); 
	}
}

// Close ============
.bag-close-wrap {
	height: 2.5rem;
	text-align: right;
	background-color: $primary-color;

	@include tablet {
		margin-bottom: 0;
	}

	.material-icons {
		color: $white;
		font-size: 2.5rem;
		cursor: pointer;

		@include desktop {
			&:hover {
				color: $black; 
			}
		}
	}
}


//  BAG Content Container ================================

#coffeeBag .bagItems {
	display: flex; 
	flex-direction: column; 
	position: relative;
	padding: 0 $msm;
	padding-top: $msm;
	height: calc(75vh - 40px); // height of coffee - close
	// 100% doesnt work needs a varible  pxish height...
	overflow-y: scroll;

	// align bag details and items side by side...
	@include tablet {
		overflow-y: hidden;
		padding: $med; 
		flex-direction: row;
	}
}

#coffeeBag .bagItems h3 {
	position: relative;
	top: 25%;
	text-align: center;
	@include center-h;

	@include tablet {
		font-size: 3rem; 
	}
}

// Bag Details =================

.bagItems .bag-details {
	@include box-shadow;
	background-color: $white;
	padding: $med;
	margin-bottom: $msm;
	height: 110px;
	min-height: 110px;
	position: relative;
	display: flex;

	@include tablet {
		height: 60%;
		width: 40%;
		flex-direction: column;
	}	

	.details, .call-me {
		flex: 1;
		@include tablet {
			width: 100%;
		}
	}

	.total, .amount {
		display: block;
		height: 50%;
		width: 70%; 
		color: $white;
		text-align: center;
		background-color: $primary-color;
		padding: $sm;

		@include tablet {
			font-size: $mlg;
			margin: 0 auto;
		}

		&.show-add, &.show-remove{
			background-color: $primary-color;
			transition: 1s all ease;
		}
		&.show{
			background-color: olive;
		}
		&.show-remove {
			background-color: olive;
		}
		&.show-remove-active{
			background-color: $primary-color;
		}
	}
	.total {
		background-color: darken($primary-color, 5%);
	}
	.call-me{
		width: 100%;
		font-size: 1.25rem;
		text-align: left;

		@include tablet {
			text-align: center;
			font-size: $mlg;
		}

		span:nth-child(1){
			color: $gray;
			font-size: 1rem;
		}
	}
	.est{
		position: absolute;
		text-align: center;
		bottom: 0;
		left: 0;
		width: 100%;
		font-size: 0.75rem;
		color: $gray;
		margin: 0;
		padding: 0; 
	}
}

// scroll for tablet mode only details does not scroll...
#coffeeBag .bagItems .bag-item-wrap {
	@include tablet {
		width: 60%;
		padding-left: $med;
		overflow-y: scroll; 
	}
}






// Animations =========================================


// BAG Container ====
#coffeeBag.ng-enter{
	transition: 0.35s all ease;
	transform: translateY(100%);
}
#coffeeBag.ng-enter-active {
	transform: translateY(0);
}
#coffeeBag.ng-leave{
	transition: 0.35s all ease;
	transform: translateY(0);
}
#coffeeBag.ng-leave-active {
	transform: translateY(100%);
}

// Item ========
#coffeeBag .bagItem.ng-enter {
	transition: 0.35s all ease;
	opacity: 0; 
	transform: translateY(-100%);
}
#coffeeBag .bagItem.ng-enter-active {
	opacity: 1; 
	transform: translateY(0);
}
#coffeeBag .bagItem.ng-leave {
	transition: 0.35s all ease;
	transform: translateY(0);
	opacity: 1; 
}
#coffeeBag .bagItem.ng-leave-active {
	opacity: 0; 
	transform: translateY(100%);
}








