 .coffee-card {
	// @include box-shadow;
 	position: relative;
 	// background-color: $white;

 	// mobile
 	width: 100%;
 	// padding: $med;
 	padding-bottom: 55px; // clear details banner
 	margin: 0;
 	margin-bottom: $xs; // edge goes away without....
 	margin-top: $mlg; 

 	@include tablet {
 		width: 32%;
 		margin-left: 2%;
 		padding: $msm;
 		padding-bottom: 40px; // clear details banner
 		margin-top: 0;

 		&:nth-of-type(3n+1){
 			margin-left: 0;
 		}
 	} // tablet

	@include desktop {
		padding-bottom: 55px;
		margin-top: $med;
	}

 	@include desktop__large {
 		width: 24.2%;
 		margin-left: 1%;
 		&:nth-of-type(3n+1){
 			margin-left: 1%;
 		} 
 		&:nth-of-type(4n+1){
 			margin-left: 0; 
 		}
 	}
 }

// DETAILS BANNER ===================================
.coffee-card .details {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: darken($white, 5%);
	@include box-shadow;

	.price, .add {
		font-size: 1.3rem;
		width: 50%;
		text-align: center;
		padding: $sm 0;
		color: $gray;
	}

	.add {
		cursor: pointer;
		font-size: 1.7rem;
		
		@include desktop {
			&:hover {
				transition: color 0.35s ease;
				color: black;
			}
		}
	}
}
// ==============================================

// ITEM IMAGE ===================================
.coffee-card .item-image {
	min-height: 135px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat; 
	background-position: 50% 50%;

	@include desktop {
		min-height: 150px;
	}
}
// ==============================================

// ===============================================




 // MASK
 .coffee-card .mask {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(10,60,150,0.95); 

	 span {
	 	@include center-v;
	 	display: block;
		text-align: center; 
	 	width: 100%;
		color: $white; 
		font-size: $mlg;

	 }
 }