.learnMore{
 	position: relative;

 	@include tablet {
 		width: 100%;
 		
 	}
}

// Mobile Only button show Modal
.learnMore .lmBtn{
	@include box-shadow;
 	position: relative;
 	background-color: $white;
 	cursor: pointer;

 	// mobile
 	width: 100%;
 	padding: $msm;
 	// padding-bottom: 45px; // clear details banner
 	margin: 0;
 	margin-bottom: $xs; // edge goes away without....
 	margin-top: $med;

 	@include tablet {
 		width: 20%;
 		transition: 0.3s all ease;

		@include desktop {
	 		&:hover {
	 			background-color: $primary-color-dark;
	 			
	 			h4 {
	 				color: $white;
	 			}
	 		}
		}
 	}

	h4 {
		width: 100%;
		font-size: 1rem;
		text-align: center;
		color: $primary-color-dark;
	}
} 


// MODAL ========================================

// ROAST ====================

.learnMoreModal {
	position: fixed;
	visibility: hidden; // hide initially
	top: -100%;
	left: 50%; 
	transform: translateX(-50%);
	height: 100%;
	background-color: $white;
	width: 320px; // mobile view....
	z-index: 300;
	padding-bottom: $med;

	// animations ==============
	transition: 0.35s all ease;

	&.showModal {
		visibility: visible;
		top: 0;

		@include tablet {
			top: 8%;
			height: auto;
		}
	}



}

.learnMoreModal .closeIcon {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: right;
	height: 2.2rem;
	padding: $med;

	.close {
		cursor: pointer;
		color: $white;
		font-size: 2.2rem;
		
		@include desktop {
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

.learnMoreModal .imageInfoWrap {
	height: auto;

	.image {
		width: 100%;
		height: 150px;
		background-color: $gray;
		margin: 0 auto;
		background-image: url('http://previews.123rf.com/images/amenic181/amenic1811410/amenic181141000110/32283962-Variety-of-cups-of-coffee-and-coffee-beans-on-old-wooden-table-Stock-Photo.jpg');
		background-size: cover;
		background-position:L 50% 50%;
	}

	.image.africa {
		background-image: url('https://pixabay.com/static/uploads/photo/2014/03/19/09/37/africa-290434_960_720.jpg');
	}
	
	.image.indonesia {
		background-image: url('https://pixabay.com/static/uploads/photo/2014/12/16/19/41/indonesia-570647_960_720.jpg');
	}
	.image.csamerica {
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/09/Costa_Rica,_Central_America,_Bridge,_Forest.jpg');
	}

	.info {
		padding: 0 5%;
		margin-top: $med;
		h3 {
			padding-bottom: $msm;
		}
		p {
			margin: 0; 
		}
	}
}

.learnMoreModal .bulletsWrap {
	margin-top: $med;
	padding: 0 5%;
	.bullets li {
		display: inline-block;
		background-color: $primary-color-dark;
		color: $white;
		padding: $xs;
		border-radius: 5px;
		min-width: 75px;
		text-align: center;
		margin-bottom: $msm;
		margin-left: $sm;
	}
}











