<section id="contactModal">
	<div class="contact-image" alt="greg on bike">
			<p class="quote">
		We are only a small roasting company, so getting to know our clients is very important. To offer the best quality coffee a personal relationship with the client is a must.
		</p>
	</div>

	<div class="contact-wrapper">
		<h3>Reasons to Call</h3>
		<ol>
			<li>Place a wholesale coffee order.</li>
			<li>Question about our services and coffee.</li>
		</ol>

		<h2>(425)111-1234</h2>

		<p>test: {{active}}</p>
	</div>
</section>