<header id="nav" ng-controller="NavCtrl">
	<ul class="wrapper">
	    <!-- Hamburger Btn -->
	    <li class="nav-open">
	      <button id="hamBtn"
	      ng-click="active = !active"
	      ng-class="{'active': navActive};">
	        <span>close</span>
	      </button>
	    </li>	

	    <li class="title">
	    	<h3>Pacifica Coffee</h3>
	    </li>

	    <li class="nav-callNow">
	    	<button>Call Now</button>
	    </li>
		<!-- side Navigation -->
		<li ng-include src="'views/nav/sideNav.html'"></li>
	</ul>

</header>