<div id="nav" ng-controller="NavCtrl">

	<ul class="wrapper">
	    <!-- Hamburger Btn -->
	    <li class="nav-li nav-open"
			toggle-class
	    	ng-mouseenter="!active ? hover = !hover : nothing"
	    	ng-mouseleave="!active && hover ? hover = false  : nothing">
	      <button id="hamBtn" ng-class="{'active': navActive};">
	        <span>close</span>
	      </button>
	    </li>	

		<!-- ===============================  -->
		<!-- ng-hide="!active"  -->
		<!-- side Navigation -->
		<nav 
			id="sideNav"  
			ng-class="{'active': active, 'hover': hover}"
			ng-mouseenter="active = true"  
			ng-mouseleave="active = false"  
			ng-include src="'views/nav/sideNav.html'">
		</nav>
		<!-- ===============================  -->

	    <li class="nav-li title">
	    	<a alt="home" ui-sref="home">Pacifica Coffee</a>
	    </li>

	    <li class="nav-li admin">
	    	<a ui-sref="admin" alt='admin'>Admin</a>
	    </li>
	</ul>

</div>