
<aside class="scroller">
	<section class="sNav-container" >
		<ul>
			<li class="link">
			 	<a  ui-sref="coffee" 
			 		alt="coffee"
			 		ng-click="active = !active">
			 		<span class="icon icon-coffee"></span>
			 		<span class="icon-text">coffee</span>
			 	</a>
			 </li>
			<li class="link">
			 	<a ui-sref="bag"
				 	alt="bag"
					ng-click="active = !active">

				 	<span class="icon icon-checkmark"></span>
				 	<span class="icon-text">bag</span>
				
				</a>
			</li>
		</ul>
		<svg height="60px" width="60px" src="../../img/icons/SVG/coffee.svg" alt='icon'></svg>
	</section>

	<!-- section 2 -->

	<section class="sNav-container">
		<h4>section 2</h4>
	</section>

	<section class="sNav-container">
		<h4>section 3</h4>
	</section>
</aside>
