
<aside class="scroller">
	<section class="sNav-container" >
		<ul>
			<li class="link icon-coffee">
			 	<a ui-sref="coffee" alt="coffee">coffee</a>
			 </li>
			<li class="link icon-checkmark">
			 	<a ui-sref="bag" alt="bag">bag</a>
			</li>
		</ul>
		<svg height="60px" width="60px" src="../../img/icons/SVG/coffee.svg" alt='icon'></svg>
	</section>

	<!-- section 2 -->

	<section class="sNav-container">
		<h4>section 2</h4>
	</section>

	<section class="sNav-container">
		<h4>section 3</h4>
	</section>
</aside>
