	<nav id="sideNav">
		<section>
			<ul>
				<li class="link coffee-link">
				 	<a  ui-sref="coffee" alt="coffee">
				 		<span class="icon icon-coffee"></span>
				 		<span class="iconText">coffee</span>
				 	</a>
				 </li>
			</ul>
		</section>

		<!-- section 2 -->

		<section class="subNav contact">
			<!-- title -->
			<div class="contact-title">
				<span class="icon-phone"></span>
				<h3 class="iconText">Contact</h3>
			</div>

			<!-- info -->
			<div class="contact-info">
				<div class="iconText">
					<h3>Greg Gorchel</h3>	
					<h3>425-111-1234</h3>
				</div>
			</div>
			<!-- tag -->

			<div class="contact-tag iconText">
				<h4>Wholesale Only</h4>
			</div>
		</section>
		
	</nav>	
