
<footer id="footer">
	<!-- user info  -->
	<div class="callMe">
		<h3>Call Today to Order Coffee</h3>
		<p>We would love to serve the general population but at this time we are only doing business with wholesale Customers</p>
		<h4>phone: <span>425-111-1234</span></h4>
	</div>

	<!-- Admin -->
	<a class="gotoAdmin" ui-sref="admin"alt="admin"> Admin login</a>

	<!-- drew info -->
	<div class="info">
		<p>&copy; 2016 Pacifica Coffee Inc.</p>
		
			<p>Created by: Drew Peterson</p>
			<span>
				<a href="https://www.linkedin.com/in/drewmpeterson">linkedIn</a>
				<a href="https://github.com/weeznog">GitHub</a>
		</span>
	</div>
</footer> 


