@mixin main-btn($color: $white){
  padding: 0.5rem 2rem;
  color: $color;
  border: 2px solid $color;
  display: inline-block;
  cursor: pointer;

 &:hover {
      background: $white;
      color: $black;
      transition: all 0.3s ease;
    }
}