
.cardContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}


// Card directive styles ===============
[card-inner] {
  width: 50%;

  @include tablet {
    width: 33.33%;
  }

  .card {
    @include box-shadow;
    background-color: $google-gray;
    min-width: 130px;
    cursor: pointer;

    width: 95%;
    margin: 0 auto;
    margin-bottom: 5%;

    &:hover {
      @include hover-shadow()
    }
  } // end of card

  .card__image {
    width: 100%;
    background-color: $green;
    height: 100%;
    height: auto;
  }

  .card__content {
    @include flex-center;
    min-height: 50px;

    @include tablet {
      min-height: 70px;
    }

    h3 {
      line-height: 1;
      color: $gray;
      font-size: $med;

      @include tablet__landscape{
        font-size: $mlg;
      }
      @include desktop{
        padding: $sm;
        font-size: $mlg;
      }
    } // h3
  }
} // end of directive