
@mixin background-image($url:$gray){
  background-color: $url;
  background-image: url($url);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  @content;

}