
// ng-class = "{trigger: curPos}"

.scrollEvent {
  transition: 2s ease all;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-70px);
}


.scrollEvent.trigger {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.scrollEvent.trigger-remove {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}