<ul class="admin-side-menu">
 
	<!-- close icon -->
	<span class="close" ng-click="triggers.overlay = false; triggers.showMenu=false;"><i class="material-icons">close</i></span> 
	
	<h2>New Coffee</h2>
	<!-- background-image --> 
	<section class="upload-photo">

		<div class="upload-card" ng-class="{'flipped': active}" ng-click="active = !active">
			<!-- font -->
			<div class="background front card"
				ng-style="{'background-image': 'url({{itemData.image}})'}">
				<span>Upload Picture</span>
			</div> 
			<!-- back -->
			<div class="back card">
				<input type="file" name="image" class="" ng-model="newItem.image">
			</div>
		</div>
		
	</section>

	<li class="admin-push-content">
		<input type="text" ng-model="newItem.name">
	</li>
	<li class="admin-push-content">
		<input type="text" ng-model="newItem.price">
	</li>
	<li class="admin-push-content">
		
		<label for="region">Region</label>

		<select name="region" ng-model="newItem.region">
			<option value="Blends">Blends</option>
			<option value="Indonesia">Indonesia</option>
			<option value="Central/South America">Central/South America</option>
			<option value="Africa">Africa</option>
		</select> 

		<!-- <input type="text" ng-model="newItem.region"> -->
	</li>
	<li class="admin-push-content">

		<label for="roast">roast</label>
		
		<select name="roast" ng-model="newItem.roast">
			<option value="Full City Roast">Full City Roast</option>
			<option value="City Roast">City Roast</option>
			<option value="French Roast">French Roast</option>
		</select>
		<!-- <input type="text" ng-model="newItem.roast"> -->
	</li>

	<li class="admin-push-content">
		<a href="#" 
		ng-click="addItem(); 
			triggers.showMenu = false;
			triggers.overlay = false;">Create</a>
	</li>

	<ul>
		<li>{{newItem.image}}</li>
		<li>{{newItem.name}}</li>
		<li>{{newItem.price}}</li>
		<li>{{newItem.region}}</li>
		<li>{{newItem.roast}}</li>
	</ul>





</ul>