<ul class="admin-side-menu">
 
	<!-- close icon -->
	<span class="close" ng-click="triggers.overlay = false; triggers.showMenu=false;"><i class="material-icons">close</i></span> 
	
	<h2>Create New item</h2>
	<!-- background-image -->
	<div class="background">background-pic</div>

	<li class="admin-push-content">
		<input type="text" ng-model="newItem.name">
	</li>
	<li class="admin-push-content">
		<input type="text" ng-model="newItem.price">
	</li>
	<li class="admin-push-content">
		<input type="text" ng-model="newItem.description">
	</li>

	<li class="admin-push-content">
		<a href="#" 
		ng-click="addItem(); 
			triggers.showMenu = false;
			triggers.overlay = false;">Create</a>
	</li>

	{{allData}}
</ul>