<main id="admin">
	<h2>Hello from Admin</h2>
	<!-- update all items... -->
	<button ng-click="saveItems()">Update Items</button>
	<hr> 

	<section class="admin-card-wrapper">
	
		<!-- <div class="slider-wraper" > -->
			<!-- Rows of cards inside wrapper -->
			<div item-card
				ng-repeat="item in items" 
				item-data="item"
				triggers="triggers"
				save-items='saveItems'>

			</div>


	</section>

	<!-- mask overlay -->
	<div class="mask" 
	ng-class="{'mask-overlay': triggers.overlay}" 
	ng-click="triggers.overlay = false;"></div> 

</main>



