<ul class="admin-side-menu">
 
	<!-- close icon -->
	<span class="close" ng-click="triggers.overlay = false;"><i class="material-icons">close</i></span> 

	<!-- background-image -->
	<div class="background">background-pic</div>

	<li class="admin-push-content">
		<input type="text" ng-model="itemData.name">
	</li>
	<li class="admin-push-content">
		<input type="text" ng-model="itemData.price">
	</li>
	<li class="admin-push-content">
		<input type="text" ng-model="itemData.description">
	</li>

	<li class="admin-push-content">
		<a href="#" 
		ng-click="saveItems(); 
		showMenu = !showMenu;">Save</a>
	</li>
	<li class="admin-push-content">
		<a class="delete" href="#" 
		ng-click="deleteItem(); 
		showMenu = !showMenu;">Delete</a>
	</li>
</ul>