<section id="admin-card">

	<!-- item rows -->
	<div class="admin-item-wrap"> 

		<div class="content">
			<span class="name">{{itemData.name}}</span>
			<span>{{itemData.price | currency}}</span>
		</div>
		
		<i class="material-icons" 
			id="adminShowMenu" 
			ng-click="triggers.overlay = true;">
			settings
		</i>	
	</div>

	<!-- Side push menu -->

	<!-- target that slides -->
	<div class="admin-push-menu">

		<div admin-side-menu
			item-data="itemData"
			save-items="saveItems"
			triggers="triggers"
			all-data="allData"
		></div>
	
	</div>	
</section>