
<section id="admin-card">

	<!-- item rows -->
	<div class="admin-item-wrap">
		<span>{{itemData.name}}</span>
		<span>{{itemData.price | currency}}</span>
		
		<i class="material-icons"
		id="adminShowMenu" 
		ng-click="showMenu = !showMenu">
			settings
		</i>	
		
	</div>

	<!-- Side push menu -->

	<div class="admin-push-menu" ng-class="{'showMenu': showMenu }">
		<div admin-side-menu
			item-data="itemData",
			save-items="saveItems"
			show-menu="showMenu"
		></div>
	
	</div>

	
</section>