<main id="admin">
	<h2>Hello from Admin</h2>
	<!-- update all items... -->
	<button ng-click="saveItems()">Update Items</button>
	<hr>

	<section class="admin-card-wrapper">
	
		<div class="slider-wraper" ng-repeat="item in items">
			<!-- Rows of cards inside wrapper -->
			<div item-card 
				item-data="item"
				show-menu="showMenu">
			</div> 

			<!-- Side push menu -->
			<aside class="admin-push-menu" ng-class="{'showMenu': showMenu }">
				<div admin-side-menu
					item-data="item"
				></div>
			
			</aside>
			
		</div> 

	</section>

</main>

