
<div id="login">

	<section class="login-container">

		<h2>Admin Login</h2>


		<div class="admin-username admin-details">
			<input type="text" ng-model="loginCtrl.admin.username" placeholder="USERNAME">
			<span class="loginLine"></span>
		</div>

		<div class="admin-password admin-details">
			<input type="password" ng-model="loginCtrl.admin.password" placeholder="PASSWORD">
			<span class="loginLine"></span>
		</div>

		<section class="btn-and-notice">
			<p class="message">{{loginCtrl.message}}</p>

			<button class="admin-login-btn" ng-click="loginCtrl.login()">Login</button>
		</section>
		

	</section>
	
</div>