	
#nav { 
	@include debug;
	position: relative;
} 

#nav ul {
	display: flex;
	justify-content: space-around; 
}

#nav a {
	@include debug;
	display: block;
	padding: $sm;

	&:hover {
		color: red;
	}
}