	
#nav { 
	position: fixed;
	background-color: $white; 
	width: 100%; 
	height: 60px;
	border-bottom: 1px solid $divider-color;
	top: 0;
	z-index: 250;  
	max-width: 1680px;
	left: 50%;  
	transform: translateX(-50%);
}

#nav .wrapper {
	position: relative;
	z-index: 250; // not sure why this has to be set as well...
	background-color: $white;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	display: flex;

	.nav-li {
		display: flex;
		align-items: center;
		text-align: center;
		color: $black;
	}
}

#nav .nav-open {
	border-right: 1px solid $divider-color;
}

#nav .title {
	border: none;
	display: block;
	width: 60%;  
	a {
		display: block;
		line-height: 60px; 
		height: 60px;
		padding: 0 5%;
		cursor: pointer;
		font-size: 20px;
		min-width: 150px;
		color: $black;

		@include tablet {
			padding: 0 2%;
		}

		@include desktop {
			&:hover {
				background-color: $primary-color-dark;
				color: $white;
			}
		}

		@include tablet__landscape {
			&:hover {
				background-color: intial;
				color: intial;
			}
		}
	}
}

#nav .nav-open {
	justify-content: center;
	cursor: pointer;
	height: 60px;
	width: 60px;
}

#nav .mask-overlay.hide{
	display: none;
}
#nav .mask-overlay.show{
	display: block !important;
	z-index: 200;
	height: 100vh; 
	background-color: rgba(250,250,250,0.5); 
}
