
// deign: http://tympanus.net/Tutorials/GoogleNexusWebsiteMenu/
// apple style navigation... in mobile view
#sideNav {
	position: fixed;
	background-color: red;
	top: 100px;
	right: 0; 
	transform: translateX(100%);

	width: 20%;

	transition: 0.3s all ease;
}

#sideNav.active {
	transform: translateX(0);
}