
// deign: http://tympanus.net/Tutorials/GoogleNexusWebsiteMenu/
// apple style navigation... in mobile view

#sideNav {
	position: fixed;
	background-color: white;
	top: 60px;
	left: 0;
	// mobile
    width: 200px;
}
// li Styles ====================

.sNav-container ul {
	line-height: 60px;
}

.sNav-container .link {
	display: block;
    height: 60px;
    font-size: 16px;
    color: #5f6f81;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.sNav-container a {
	text-decoration: none;
	display: block;
	height: 100%;
	padding: 0 30px;
	text-transform: uppercase;
	letter-spacing: 1px;

}

// Triggers + Animation ====================
#sideNav {
	// transform: translateX(-100%);
	transition: 1s all ease;

	@include desktop {
		transition: 0.5s all ease; 
	} 

	li { 
		position: relative;
		&:before {
			content: '';
			position: absolute;
			height: 100%;
			width: 60px;
			-webkit-font-smoothing: antialiased;
	
			background-color: red;
			mask-image: url('../../img/SVG/checkmark.svg');
			mask-repeat: no-repeat;
			mask-position: 50% 50%;
		}
		a {
			margin-left: 40px;
			visibility: hidden;
		}
	}
}



// on hover show just icons...
#sideNav.hover {
	font-size: 0;
	width: 60px;
	transform: translateX(0);

	li {
		transform: translateY(0);
		// font-size: 0;

	
	}
}

#sideNav.active {
	transform: translateX(0);
	width: 200px;

	li { 
		font-size: 13px;
		transform: translateY(0);

		a {
			visibility: visible;
		} 
	}
}











