
#about {

  // take on #about on the end of #consignment
  @extend #consignment;

  //I think because consignment is nested is ihave to override with !important because its very specific.

  h1 {
    color: $prim-color !important;
  }

  .col {
    background-color: $prim-color !important;

    @include tablet {
      background-color: $white !important;
    }
  }

  p {
    color: $white;
    @include tablet {
      color: $prim-color !important;
    }
  }

  .col-1 {
    a {
      width: 100%;
      background-color: $prim-color;
      color: $white;
    }
  }

// Images =================================
  .image-1{
    @include background-image('../img/white-shirt.jpeg');
  }

// column adjustments =======================

  .col-2 {
    width: 100% !important;

    @include tablet {
      width: 50% !important;
    }
  }

} // end of about


// Mobile ============
  .mContainer {
    @include tablet { display: none;}
  .mImage-2A{
    @include background-image('../img/dropbox/1267060.jpg');
    height: 200px;
    width: auto;
    @include tablet {
      display: none;
    }
  }
}


// Bottom picture
.col-3A {
  @include tablet {
    display: flex;
    justify-content: space-between !important;
  }
  .col {
    @include tablet {
      width: 50% !important;
    }
  }
  .image-5 {
    @include background-image('../img/dropbox/1276168.jpg')
  }
}

// IMAGE OVERWRITES ====================
.image-2A {
  @include background-image('../img/dropbox/1267060.jpg');
}
