
#about {

  // take on #about on the end of #consignment
  @extend #consignment;

  //I think because consignment is nested is ihave to override with !important because its very specific.

  h1 {
    color: $prim-color !important;
  }

  .col {
    background-color: $prim-color !important;

    @include tablet {
      background-color: $white !important;
    }
  }

  p {
    color: $white;
    @include tablet {
      color: $prim-color !important;
    }
  }

// Images =================================
  .image-1{
    @include background-image('../img/white-shirt.jpeg');
  }

// column adjustments =======================

  .col-2 {
    width: 100% !important;
  }

} // end of about
