
#home { 
	height: 100%;
}
.card-container {
	background-color: $white;
	height: 100%; 

	&:last-child{
		padding-bottom: 40px;
	}
}
// video ===============================

#home .youtube-wrap {
	width: 100%;
	min-height: calc(100vh - 60px);
}

.youtube-wrap video {
	display: none;

	@include desktop {
		display: block;
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: -100;
	    transform: translateX(-50%) translateY(-50%);
	  	background-size: cover;
	  	transition: 1s opacity;
	  // other options ============
		// position: absolute;
		// top: 0;
		// left: 0;
		// width: 100%;
		// height: auto;
		// z-index: -10;
		// transform: scale(1.2);
		// overflow: hidden;
	}
}

// mobile users get static bg;
.youtube-wrap .home-bg {
	@include background-image('../../img/coffeeBG.jpeg');
	background-position: 0 50%;
	position: absolute;
	top: 60px;
	left: 0;
	height: auto;
	min-height: calc(100vh);
	width: 100%;
	z-index: -100;
	@include desktop {
		display: none;
	}
}

// title =============

.youtube-wrap .home-title {
	z-index: -10;
	margin-top: 35px;
	padding: 0 5%;

	@include tablet {
		margin-top: 8%;
	}
	@include tablet__landscape {
		margin-top: 8%;
	}

	@include desktop {
		margin-top: 5%;
	}

	h2, h1, a {
		color: $white;
		text-align: left;
		letter-spacing: 1.5;

	}
	h1 {
		font-size: 3.5rem;
		line-height: 1;
		@include tablet {
			font-size: 5rem;
		}
		span {
			color: $green;
		}
	}
	h2 {
		margin-top: $med;
		font-size: $mlg;
		text-shadow: 2px 2px 2px $black;

		@include tablet {
			font-size: $lg;
			width: 70%;
		}
		@include desktop {
			width: 50%;
		}
	}

	a {
		margin: $mlg 0; 
		display:inline-block;
		padding: $msm $med;
		border: 2px solid $white;
		cursor: pointer;
		transition: 0.35s all ease; 
		
		@include tablet {
			font-size: $mlg;
			padding: $med $mlg;
		}

		@include desktop {
			&:hover {
				background-color: $white;
				color: $black;
			}	
		}
	}
}

















