
#home {
  min-height: 100%;
  width: 100%;

  .hero {
    min-height: 500px;
    background-color: $white;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

    .row2, .row4, .row2 {
      @include desktop__large {
      width: 80%;
      margin: 0 auto;
      }
    }

  .hero-container {
    text-align: center;
    color: $white;
    width: 100%;
  }

  .row1 {
    min-height: 100vh;
    @include full-opacity(0.3); // creates faded div before this one
    background-image: url('../img/clothes.jpeg');
    padding-top: 100px;

    @include tablet {
      padding-top: 150px;
    }

    @include desktop__large {
      padding-top: 200px;
    }

    .hero-container {
      position: relative; // important for z-index + absolute;
      z-index: 2; // with relative shows text above opacity div ln-29
      padding: 0 $med;

      @include tablet {
        padding: 0 $med;
      }
    }
    h1 {
      @include tablet {
        font-size: 5.3rem;
      }
      @include tablet__landscape {
        font-size: 5rem;
      }
      @include desktop__large {
        font-size: 7rem;
        padding-bottom: 3rem
      }
    }

    h2 {
      margin-top: $mlg;
      line-height: 1;
      font-style: italic;
      @include tablet {
        padding-top: $mlg;
        font-size: $xl;
      }
      @include desktop {
        width: 60%;
        font-size: $xxl;
        margin: 0 auto;
      }
    }
  } // end of row1

// Vip Shopping ========================
  .row2 {
    @include flex-center;
    min-height: 150px;
    height: 100%;
    margin: $med auto;

    @include tablet {
      padding: 20px;
    }

    @include desktop__large {
      padding: 50px 0;
      box-shadow: none;
    }

    h3 {
      width: 90%;
      text-align: center;
      line-height: 1.5;
      font-style: italic;
      color: $gray;
      padding: $med 0;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      font-size: 1.2rem;
      margin: 0 auto;
      @include tablet {
        font-size: $lg;
        padding: $xl 0;
        margin: $lg auto;
      }
      @include desktop__large{
        padding: $xl 8rem;
      }
    }
  }
// ==============================
// Consignment

  .row3 {
    @include flex-center;
    min-height: 40vh;
    padding: $med 0;
    margin: 5% 0;

    @include tablet {
      min-height: 60vh;
    }

    .content {
      width: 90%;
      margin: 0 auto;

      @include desktop__large {
        width: 80%;
      }
    }

    h3 {
      color: $black;
      margin-bottom: $med;
      @include tablet  {
        font-size: $xl;
        margin-bottom: $med;
      }
      @include desktop {
        margin-bottom: $lg;
      }
    }

    p {
      margin-top: $med;
      font-style: italic;
      color: $gray;
      text-align: center;
      margin: 0 auto;
      font-size: $med;

      @include tablet {
        width: 80%;
        font-size: $lg;
      }
    }
    span {
      display: block;
      margin-top: $mlg;
    }
    a {
      @include main-btn{
      color: $gray;
      border: 2px solid $gray;
      min-width: 90%;
        &:hover {
          border: 2px solid $black;
         }
      }
      @include tablet {
        font-size: $mlg;
        min-width: 40%;
        margin-top: $med;

      }
    }
  }

} // end of home

// 4 Grid ============================
#home .row4 {
  height: 90vh;
  background-color: $white;
  .container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  .half {
    @include box-shadow;
    display: inline-block; // add for IE bug...

    height:45vh;
    width: 48%;

    margin-right: 3%;
    margin-bottom: 3%;

    background-color: $prim-color;
    color: $white;
    padding: $msm;

    @include tablet {
      padding: $med;
      width: 49%;
      margin-right: 2%;
      margin-bottom: 2%;
    }

    &:nth-of-type(2n + 2){
      margin-right: 0;
    }

    p {
      @include center-v;
      font-size: $med;

      @include tablet {
        font-size: $lg;
      }
    }
  }

  .image {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .image1 {
    @include background-image('../img/dropbox/hermes-bag.jpg');
  }
  .image2 {
    @include background-image('../img/dropbox/shoes.jpg')

  }

  p {
    margin: 0;
    line-height: 1.3;
    font-size: $mlg;

    @include tablet {
      font-size: $lg;
    }
  }
}
// =============================

.trendy {
  @extend .row3;
  min-height: 30vh !important;
  background-color: $prim-color !important;
  width: 90%;
  margin: 0 auto !important;
  margin-top: $lg !important;

  @include tablet {
    margin-top: 5% !important;
  }


  h3 {
    color: white !important;
    font-size: $mlg;
    padding: 0 $sm;
  }

  a {
    color: $prim-color !important;
    background-color: white;
    border: 2px solid white !important;
    margin-top: $sm;
    min-width: 40% !important;

    &:hover {
      color: black !important;
    }
  }
}



// FOOTER ============================

// https://css-tricks.com/snippets/css/sticky-footer/

#mainContent {
  min-height: 100%;
  margin-bottom: -75px;
}

#mainContent:after{
  content: '';
  display: block;
}

#footer,
#mainContent:after {
  height: 75px;
}

#footer {
  background-color: $prim-color;
  text-align: center;
  position: relative;
  min-height: 100px;
  padding: $med 0;

  div {
    width: 100%;
    // center div in footer
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  p {
    color: $white;
    margin: 0;
    padding: $xs;
  }
  a {
    color: $white;
    font-style: italic;
    text-decoration: underline;
  }
}


